<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Inventario</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="index.html" class="navbar-logo">Inventario Doméstico</a>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="selection-container">
        <h1>Seleccionar Inventario</h1>
        <button onclick="window.location.href='/inventory'" class="btn-select">Ir al Inventario</button>
    </div

</body>
</html>
